{
  "project_info": {
    "project_number": "440889531345",
    "project_id": "ridemarter",
    "storage_bucket": "ridemarter.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:440889531345:android:comridemarterapp4408",
        "android_client_info": {
          "package_name": "com.ridemarter.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "440889531345-androidclient.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyBYQ7RCBmXwtp7-O7YqNRm0Nx2gm8K85bA"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:440889531345:android:comsmartdrivoapp4408",
        "android_client_info": {
          "package_name": "com.smartdrivo.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "440889531345-androidclient.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyBYQ7RCBmXwtp7-O7YqNRm0Nx2gm8K85bA"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:440889531345:android:comexampleapp4408",
        "android_client_info": {
          "package_name": "com.example"
        }
      },
      "oauth_client": [
        {
          "client_id": "440889531345-androidclient.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyBYQ7RCBmXwtp7-O7YqNRm0Nx2gm8K85bA"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
