{
  "project_info": {
    "project_number": "900885102321",
    "project_id": "ridemarter",
    "storage_bucket": "ridemarter.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:900885102321:android:abcdef1234567890",
        "android_client_info": {
          "package_name": "com.ridemarter.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "900885102321-exampleoauthclientid.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyDummyKey_ReplaceWithYourActualApiKey"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
